/* ----------------------------- */

/* ==tables                      */

/* ----------------------------- */

table,
.table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
  border: 1px solid #ccc;
}

.table {
  display: table;
}

table#recaptcha_table,
table.table-auto {
  table-layout: auto;
}

caption {
  padding: 1em;
  color: #555;
  font-style: italic;
}

td,
th {
  padding: 0.3em 0.8em;
  border: 1px #aaa dotted;
  vertical-align: top;
  min-width: 2em;
  cursor: default;
  text-align: left;
}