/* ----------------------------- */

/* ==booleans                    */

/* ----------------------------- */

.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  left: -7000px;
  padding: 0.5em;
  background: black;
  color: white;
  text-decoration: none;
}

.skip-links a:focus {
  position: static;
}

@media (max-width: 480px) {
  /* you shall not pass */

  div,
  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}