
/* ----------------------------- */
/* ==forms                       */
/* ----------------------------- */

/* thanks to HTML5boilerplate,
* github.com/nathansmith/formalize 
* and www.sitepen.com
*/


/* buttons */
.btn { display: inline-block; }

.btn.alternate {}
.btn.highlight {}
.login {}
.logout {}
.primary {}
.warning {}
.error {}
.success {}

/* forms items */
label { 
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
legend {
	border: 0;
	white-space: normal;
}
button,
input,
select {
	margin: 0;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar on empty textarea in IE6/7/8/9 */
	min-height: 5em;
	vertical-align: top;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button; /* clickable input types in iOS */
	*overflow: visible; /* Corrects inner spacing displayed oddly in IE7 */
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Corrects excess space around these inputs in IE8/9 */
	*width: 13px; *height: 13px; /* Corrects excess space around these inputs in IE7 */
}
input[type="search"] { -webkit-appearance: textfield; }

/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
::-webkit-input-placeholder { color: #777; }
input:-moz-placeholder,
textarea:-moz-placeholder { color: #777; }

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border: 0;
	padding: 0;
}
