@import "00-config";

/* ----------------------------- */
/* ==output booleans             */
/* ----------------------------- */

/**
 * Skip links
 * Only output when `$enable-skip-links` is true
 */
@if $enable-skip-links == true {
	.skip-links {
		position: absolute;

		a {
			position: absolute;
			left: -7000px;
			padding: 0.5em;
			background: black;
			color: white;
			text-decoration: none;

			&:focus {
				position: static;
			}
		}
	}
}

/**
 * Hyphens
 * Only output when `$enable-hyphens` is true
 */
@if $enable-hyphens == true {
	@media (max-width: $small-screen) {
		div, textarea, table, td, th, code, pre, samp {
			word-wrap: break-word;
			hyphens: auto;
		}
	}
}
