/*----------------------------*\
 * Helpers                    *
\*----------------------------*/

/**
 * .{SIZE}-hidden and .{SIZE}-visible helpers
 */
$breakpoints: large, small, tiny;

@each $size in $breakpoints {
    .#{$size}-hidden {
        @include mq($size) {
            display: none;
        }
    }

    .#{$size}-visible {
        display: block;

        @include mq($size) {
            display: block;
        }
    }
}


/**
 * Clearfix
 */
.clearfix {
    &:after {
	   content: '';
	   clear: both;
	   display: table;
    }

    @if $legacy-support-for-ie {
        *zoom: 1;
    }
}

/**
 * Hidden yet accessible content
 */
.visuallyhidden {
    clip: rect(0 0 0 0);
    width:   1px;
    height:  1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    border:  0;
    position: absolute;
}

/** 
 * Prevent long strings to break out of their container
 */
.wrap {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/**
 * Skip links 
 */
.skip-links {
    position: absolute;

    a {
        position: absolute;
        left: -7000px;
        padding: 0.5em;
        background: #000;
        color:#fff;
        text-decoration: none;

        &:focus {
            position: static;
        }
    }
}