/* ----------------------------- */
/* ==Print 						 */
/* ----------------------------- */

/* Quick print reset */
@media print {
	p, blockquote {
		orphans: 2;
		widows: 2;
	}
	blockquote,	ul,	ol {
		page-break-inside: avoid;
	}
	h1,	h2,	h3,	caption {
		page-break-after: avoid;
	}
}
