/*
* www.KNACSS.com V2.8 (2013-09) @author: Raphael Goetter, Alsacreations
* Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
*/

// LESS values : adapt them to your design
@basefont		: 14; // if "14" then 1em = 14px
@l-h			: 1.5; // equiv line-height 1.5em
@smallvalue		: 10px; // small value for margins / paddings
@mediumvalue	: 20px; // medium value for margins / paddings
@largevalue		: 30px; // large value for margins / paddings
@tinyscreen		: 480px; // tiny screens media query
@smallscreen	: 768px; // small screens media query
@largescreen	: 1280px; // large screens media query
@gutter			: 20px; // gutter value (%, px, em, rem, etc) for grid layouts
@fontstack1		: "helvetica, arial, sans-serif"; // common font
@fontstack2		: "consolas, 'DejaVu Sans Mono', courier, monospace"; // monospace font

// LESS functions : don't touch or you'll be banned ;)
.pxtoem (@fontsize) {font-size: ((@fontsize / @basefont) + 0em);}
.line (@fontsize) {line-height: (@l-h *2 / (@fontsize / @basefont) + 0em)}
.mtop (@fontsize) {margin: (@l-h / (@fontsize / @basefont) + 0em) 0 0}
.grid (@number) {width: ((100%-(@gutter*(@number - 1))) / @number);}
 
.flow(@font-size, @base-font: @basefont, @base-height: @l-h) {
        @coef: ceil((1 / (@base-height * @base-font / @font-size)));
        @size: ((@font-size / @base-font) + 0em);
        @height: ((@base-font * @base-height / @font-size) + 0em);    
        font-size:   @size;
        line-height: (@height * @coef);
        margin-top:  @height;
        margin-bottom: 0;
}

// LESS base styles
@import "01-base.less";

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can link them with an LESS @import */
/* @import "my-styles.less"; */


// LESS files : chose the ones you need
@import "02-grids.less";
@import "03-tables.less"; 
@import "04-forms.less";
@import "05-icons.less";
@import "06-rwd.less";
@import "07-flexbox.less"; 
@import "08-print.less";