<header class="header" role="banner" data-layout="cluster" data-align="center">
  <h1 class="title-main" id="site-title">
    <img src="/images/knacss-logo.svg" alt="KNACSS" width="197" height="76" />
  </h1>
  <p>Stylé et accessible, comme une flammekueche bien cuite.</p>
</header>
