<header class="header" role="banner" data-layout="repel" data-align="center">
  <div class="header-content">
    <h1 class="title-main" id="site-title">
      <img src="/images/knacss-logo.svg" alt="KNACSS" width="197" height="76" />
    </h1>
    <p class="tagline">Stylé et accessible, comme une flammekueche bien cuite.</p>
  </div>

  {{!-- Theme Switcher --}}
  {{> theme-switcher}}

  {{!-- Burger --}}
  <button
    class="burger-button"
    aria-controls="navigation"
    aria-expanded="false"
  >
    <svg
      class="burger-icon"
      role="img"
      aria-label="Menu"
      focusable="false"
      viewBox="0 0 10 10"
    >
      <rect class="rect-1" />
      <rect class="rect-2" />
      <rect class="rect-3" />
    </svg>
  </button>
</header>
