<main
  class="main"
  role="main"
  aria-labelledby="component-title"
  id="main-content"
>
  <section class="section" aria-labelledby="component-title">
    <h2 class="title-l" id="component-title">Accueil</h2>
    <article class="page-content">
      <!-- Le contenu de la page sera injecté ici par JavaScript -->
    </article>
  </section>
</main>
