/* ---------------------/*
 * Checkbox native Styles
 /* ------------------ */

:where([type="checkbox"]) {
  --background-color: var(--form-control-background, ButtonFace);

  /* prettier-ignore */
  --background-color-checked: color-mix(in oklab,var(--background-color),#000000 20%);
  --border-color: var(--checkables-border-color, ButtonBorder);
  --border-color-checked: var(--border-color);
  --border-radius: var(--form-control-border-radius, 0);
  --border-width: var(--form-control-border-width, 1px);
  --box-shadow: none;
  --checkable-icon-color: var(--checkable-icon-color, #ffffff);
  --text-color: var(--on-primary, ButtonText);
}

[type="checkbox"] {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--checkable-size, 1lh);
  height: var(--checkable-size, 1lh);
  margin: 0;
  transition-property: background, border, box-shadow, color;
  transition-duration: var(--transition-duration, 0.3s);
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  color: var(--text-color);
  font: inherit;
  line-height: 1;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  appearance: none;

  /* States */
  &:is(:checked, :indeterminate) {
    background-color: var(--background-color-checked);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color-checked);
    color: var(--checkable-icon-color);
  }

  &:checked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: currentcolor;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>')
      center no-repeat;
  }

  &:indeterminate::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: currentcolor;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M431 256c0 17.7-14.3 32-32 32H49c-17.7 0-32-14.3-32-32s14.3-32 32-32h350c17.7 0 32 14.3 32 32z"/></svg>')
      center no-repeat;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus-ring-color, #008000) solid var(--focus-ring-width, 2px);
    outline-offset: var(--focus-ring-offset);
  }

  &:is(:disabled, [disabled]) {
    opacity: 50%;
    cursor: not-allowed;
  }
}

.form-group:has([type="checkbox"]:disabled) label {
  opacity: 50%;
  cursor: not-allowed;
}
