/* --------------------
 * Range native styles
 * -------------------- */

.range {
  position: relative;
}

[type="range"] {
  --range-background-color: var(--form-control-background, Field);
  --range-border-radius: var(--form-control-border-radius, 4px);
  --range-text-color: var(--on-form-control, FieldText);
  --range-track-size: 3px;
  --range-track-color: var(--on-surface, #eeeeee);
  --range-thumb-color: var(--accent-invert, #cccccc);
  --range-thumb-color-checked: oklch(
    from var(--range-thumb-color) calc(l * 1.2) c h
  );
  --range-thumb-size: 1rem;

  width: 100%;
  height: var(--range-track-size);
  border: 0;
  border-radius: var(--range-border-radius);
  background-color: var(--range-track-color);
  accent-color: var(--range-thumb-color);
  appearance: none;

  &:is(:disabled, [disabled]) {
    opacity: 50%;
    cursor: not-allowed;
  }

  &::-webkit-slider-thumb {
    box-sizing: content-box;
    width: var(--range-thumb-size);
    height: var(--range-thumb-size);
    border: var(--range-track-size) solid var(--range-track-color);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    appearance: none;
    anchor-name: --thumb; /* Anchor point for position-anchor */
  }

  &:active::-webkit-slider-thumb {
    background-color: var(--range-thumb-color-checked);
    cursor: grabbing;
  }

  &::-moz-range-thumb {
    box-sizing: content-box;
    width: var(--range-thumb-size);
    height: var(--range-thumb-size);
    border: var(--range-track-size) solid var(--range-track-color);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    appearance: none;
    anchor-name: --thumb; /* Anchor point for position-anchor */
  }

  &:active::-moz-range-thumb {
    background-color: var(--range-thumb-color-checked);
    cursor: grabbing;
  }
}

.range-value {
  position: absolute;
  padding: 4px 8px;
  border-radius: var(--form-control-border-radius, 4px);
  background-color: var(--form-control-background, Field);
  font-size: var(--text-14, 0.875rem);
  translate: 0 1.4rem;
}

@supports (position-anchor: initial) {
  .range-value {
    position-anchor: --thumb;
    position-area: bottom;
    translate: 0 0.5rem;
  }
}
