<section class="styleguide-section">
  <h2>Boutons (button)</h2>

  <article class="styleguide-component">
    <div class="styleguide-component-preview">
      <button
        type="button"
        class="btn">
        Bouton
      </button>
      <button
        type="button"
        class="btn"
        disabled>
        Disabled
      </button>
      <input
        type="button"
        value="Input Button"
        class="btn" />
    </div>
    <div class="styleguide-component-actions">
      <button
        type="button"
        class="js-show-code"
        aria-expanded="false"
        aria-controls="code-btn-variations">
        Afficher le code
      </button>
    </div>
    <div
      class="styleguide-component-code"
      id="code-btn-variations"
      hidden>
      <pre><code class="language-html"></code></pre>
      <!-- Contenu initial vidé -->
    </div>
  </article>
</section>
