// Warning : you should use your own values, regardless of the devices
// GOOD : (max-width: $BP) and (min-width: ($BP + 1))
$tiny: 544px; // or 'em' if you prefer, of course
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1440px;
