// Responsive breakpoints variables

// Warning : you should use your own values, regardless of the devices
// Best practise : (max-width: $BP) and (min-width: ($BP + 1))
$tiny         = 543px // or 'em' if you prefer, of course
$small        = 767px
$medium       = 991px
$large        = 1199px
$extra-large  = 1439px
