<div class="form-group stack">
  <div class="cluster">
    <input type="checkbox" role="switch" id="switch_notifications" name="switch_notifications" aria-describedby="switch_help">
    <label for="switch_notifications">Notifications</label>
  </div>
  <small id="switch_help" class="form-group-info">Message d'aide</small>
</div>

<div class="form-group cluster">
  <input type="checkbox" role="switch" id="switch_disabled" name="switch_disabled" disabled>
  <label for="switch_disabled">Switch désactivé</label>
</div>

