/* ----------------------------- */
/* ==Tabs                        */
/* ----------------------------- */
/* see example on https://knacss.com/styleguide.html#tabs */
/* NOTE : tabs need JavaScript to be activated */


.tabs-menu {
  border-bottom: 2px solid $border-tabs;

  &-link {
    display: block;
    margin-bottom: -2px;
    padding: $tiny-value $medium-plus-value;
    border-bottom: 4px solid transparent;
    color: $color-tabs;
    background: $background-tabs;
    text-decoration: none;
    border-radius: $border-radius-tabs $border-radius-tabs 0 0;
    transition: .25s;
    transition-property: color, border, background-color;

    &.is-active {
      border-bottom-color: $border-tabs-active;
      color: $color-tabs-active;
      background: $background-tabs-active;
      outline: 0;
    }

    &:focus {
      border-bottom-color: $border-tabs-active;
      color: $color-tabs-active;
      outline: 0;
    }

    @media (min-width: $small) {
      display: inline-block;
    }
  }
}

.tabs-content-item {
  padding-top: $small-value;

  &[aria-hidden="true"] {
    visibility: hidden;
    @extend .visually-hidden;
  }

  &[aria-hidden="false"] {
    visibility: visible;
  }
}
