/* ----------------------------- */
/* ==Tabs                        */
/* ----------------------------- */
/* see example on https://knacss.com/styleguide.html#tabs */
/* NOTE : tabs need JavaScript to be activated */

.tabs-menu {
  border-bottom: 2px solid #ddd;
}

.tabs-menu-link {
  display: block;
  margin-bottom: -2px;
  padding: $tiny-value $medium-plus-value;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  transition: .25s;
  transition-property: color, border, background-color;
}

.tabs-menu-link.is-active {
  border-bottom-color: #ddd;;
  outline: 0;
}
.tabs-menu-link:focus {
  border-bottom-color: $color-forms;
  color: $color-forms;
}

@media (min-width: $small) {
  .tabs-menu-link {
    display: inline-block;
  }
}

.tabs-content-item {
  padding-top: 10px;
}

.tabs-content-item[aria-hidden="true"] {
  visibility: hidden;
  @extend .visually-hidden;
}

.tabs-content-item[aria-hidden="false"] {
  visibility: visible;
}
