/* -------------------/*
 * KNACSS Utilitaires CSS
 * Made par Alsacréations
 * Consignes : à placer dans un layer `utilities` au dessus de tous les autres layers
 /* ------------------ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
