/* -----------------------/*
 * Layouts CSS utilitaires
 * Made par Alsacréations
 * Ressources et documentation : http://bretzel.alsacreations.com/ et http://liquid.alsacreations.com/
 * Consignes : à placer dans un layer au-dessus de `reset`
 * Mise à jour : 2026-01-23
 /* ---------------------- */

/* Suppression des marges des enfants directs d'un Layout */
[data-layout] > * {
  margin-block: 0;
}

/* Stack */
[data-layout*="stack"] {
  display: grid;
  row-gap: var(--spacing-s, 0.5rem);
}

/* Cluster */
[data-layout*="cluster"] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s, 0.5rem);
  align-items: start;
}

/* Autogrid */
[data-layout*="autogrid"] {
  --col-min-size: 20rem; /* taille mini de chaque colonne */
  --grid-fill: auto-fit; /* mode de remplissage */

  display: grid;
  grid-template-columns: repeat(
    var(--grid-fill),
    minmax(min(var(--col-min-size), 100%), 1fr)
  );
  gap: var(--spacing-s, 0.5rem);
}

/* Switcher */
[data-layout*="switcher"] {
  --switcher-min-size: 30rem; /* taille mini du parent */

  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s, 0.5rem);

  & > * {
    flex-basis: calc((var(--switcher-min-size) - 100%) * 999);
    flex-grow: 1;
  }
}

/* Repel */
[data-layout*="repel"] {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: var(--spacing-s, 0.5rem);
}

/* Reel */
[data-layout*="reel"] {
  --item-size: 35%; /* largeur des enfants (% du conteneur) */

  display: flex;
  max-width: 100%;
  height: auto;
  margin-inline: auto; /* reel est centré horizontalement */
  overflow-x: auto;
  gap: var(--spacing-s, 0.5rem);
  scroll-snap-type: x mandatory; /* scroll-snap sur l'axe x */
  -webkit-overflow-scrolling: touch;

  :where(& > *) {
    flex-basis: var(--item-size);
    flex-shrink: 0;
  }

  &[data-scroll="start"] > * {
    scroll-snap-align: start; /* je cale à gauche */
  }

  &[data-scroll="center"] > * {
    scroll-snap-align: center; /* je cale au centre */
  }

  &[data-scroll="end"] > * {
    scroll-snap-align: end; /* je cale à droite */
  }

  &[data-scrollbar="hidden"] {
    scrollbar-width: none; /* je masque l'ascenseur */

    &::-webkit-scrollbar {
      display: none; /* je masque l'ascenseur sur webkit */
    }
  }
}

/* Duo */
[data-layout*="duo"] {
  display: grid;
  align-content: start;
  gap: var(--spacing-s, 0.5rem);

  /* Deux colonnes si >=768px */
  @media (width >= 48rem) {
    /* Modèle par défaut = 1/2 1/2 */
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    /* Modèle inversé sur desktop */
    &[data-split*="reverse"] {
      & > *:first-child {
        order: 1;
      }
    }

    &[data-split*="1-1"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    &[data-split*="2-1"] {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }

    &[data-split*="1-2"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    &[data-split*="3-1"] {
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    }

    &[data-split*="1-3"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    }

    &[data-split*="4-1"] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
    }

    &[data-split*="1-4"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
    }

    /* "auto" = taille initiale conservée */
    &[data-split*="auto-1"] {
      grid-template-columns: auto minmax(0, 1fr);
    }

    &[data-split*="1-auto"] {
      grid-template-columns: minmax(0, 1fr) auto;
    }
  }

  /* Mode desktop forcé */
  &[data-layout*="desktop"] {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    &[data-split*="reverse"] {
      & > *:first-child {
        order: 1;
      }
    }

    &[data-split*="1-1"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    &[data-split*="2-1"] {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }

    &[data-split*="1-2"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    &[data-split*="3-1"] {
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    }

    &[data-split*="1-3"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    }

    &[data-split*="4-1"] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
    }

    &[data-split*="1-4"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
    }

    &[data-split*="auto-1"] {
      grid-template-columns: auto minmax(0, 1fr);
    }

    &[data-split*="1-auto"] {
      grid-template-columns: minmax(0, 1fr) auto;
    }
  }
}

/* Boxed */
[data-layout*="boxed"] {
  --boxed-max: 80rem; /* Largeur max (1280px) */

  width: 100%;
  max-width: var(--boxed-max, 80rem);
  margin-inline: auto;

  &[data-boxed="small"] {
    --boxed-max: 64rem; /* 1024px */
  }
}

/* Liquid */
[data-layout*="liquid"] {
  --liquid-min-margin: var(--spacing-16, 1rem);
  --liquid-content: var(--spacing-2xl, 98rem);

  display: grid;
  grid-template-columns:
    [liquid-start] minmax(var(--liquid-min-margin), 1fr)
    [content-start] minmax(0, calc(var(--liquid-content) / 2))
    [half] minmax(0, calc(var(--liquid-content) / 2))
    [content-end] minmax(var(--liquid-min-margin), 1fr)
    [liquid-end];

  :where(& > *) {
    grid-column: content;
  }
}

/* Splash et autres enfants de Liquid */
[data-layout*="splash"] {
  display: grid;
  grid-column: liquid;
  grid-template-columns: inherit;

  :where(& > *) {
    grid-column: content;
  }
}

[data-layout*="splash-start"] {
  display: grid;
  grid-column: liquid-start / content-end;
  grid-template-columns: subgrid;

  :where(& > *) {
    grid-column: content;
  }
}

[data-layout*="splash-end"] {
  display: grid;
  grid-column: content-start / liquid-end;
  grid-template-columns: subgrid;

  :where(& > *) {
    grid-column: content;
  }
}

[data-layout*="splash-half-start"] {
  display: grid;
  grid-column: liquid-start / half;
  grid-template-columns: subgrid;

  :where(& > *) {
    grid-column: content-start / half;
  }

  @media (width < 48rem) {
    grid-column: liquid;

    & > * {
      grid-column: content;
    }
  }
}

[data-layout*="splash-half-end"] {
  display: grid;
  grid-column: half / liquid-end;
  grid-template-columns: subgrid;

  :where(& > *) {
    grid-column: half / content-end;
  }

  @media (width < 48rem) {
    grid-column: liquid;

    & > * {
      grid-column: content;
    }
  }
}

/* Modificateurs globaux */
[data-gap="xs"] {
  gap: var(--spacing-xs, 0.25rem);
}

[data-gap="s"] {
  gap: var(--spacing-s, 0.5rem);
}

[data-gap="m"] {
  gap: var(--spacing-m, 1rem);
}

[data-gap="l"] {
  gap: var(--spacing-l, 2rem);
}

[data-gap="xl"] {
  gap: var(--spacing-xl, 3rem);
}

[data-gap="none"] {
  gap: 0;
}

[data-justify="start"] {
  justify-content: start;
}

[data-justify="end"] {
  justify-content: end;
}

[data-justify="center"] {
  justify-content: center;
}

[data-justify="space"] {
  justify-content: space-between;
}

[data-align="start"] {
  align-content: start;
  align-items: start;
}

[data-align="end"] {
  align-content: end;
  align-items: end;
}

[data-align="center"] {
  align-content: center;
  align-items: center;
}

[data-align="stretch"] {
  align-content: stretch;
  align-items: stretch;
}
