/* ----------------------------------
 * Polices
 * ----------------------------------
 */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  /* stylelint-disable */
  src:
    url("/fonts/Poppins-Variable-opti.woff2") format("woff2") tech("variations"),
    url("/fonts/Poppins-Variable-opti.woff2") format("woff2-variations");
  /* stylelint-enable */
}

/* ----------------------------------
 * Modificateurs
 * ----------------------------------
 */
:root {
  --sidebar-width: 300px;
}

[data-layout*="boxed"] {
  --boxed-max: 96rem; /* 1536px */
}

[data-gap="xs"] {
  gap: var(--spacing-8);
}

/* ----------------------------------
 * Base
 * ----------------------------------
 */

body {
  padding: var(--spacing-s);
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: var(--font-poppins);
  font-size: var(--text-16);
  font-weight: var(--font-weight-regular);

  /* Désactivation du scroll pour les modales */
  &.no-scroll {
    overflow: hidden;
  }
}

/* Couleur de sélection */
*::selection {
  background: var(--selection);
}

/* Titres */

.title-main {
  margin: 0;
}

.title-l {
  margin-block: 0 var(--spacing-m);
  outline: none;
  color: var(--accent);
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-semibold);

  .component-base & {
    margin-bottom: 0;
  }
}

.title-m {
  margin-block: 0 var(--spacing-m);
  font-size: var(--text-l);
  font-weight: var(--font-weight-semibold);

  .page-content & {
    margin-top: var(--spacing-l);
  }
}

.title-s {
  margin: 0;
  font-size: var(--text-16);
  font-weight: var(--font-weight-semibold);
}

/* ----------------------------------
 * Header
 * ----------------------------------
 */
.header {
  padding: var(--spacing-m);
  border-bottom: 1px solid var(--layer-2);

  & .title-main {
    margin: 0;

    & img {
      max-width: 150px;
    }
  }

  & .tagline {
    margin-block: var(--spacing-s) 0;
    color: var(--on-surface);
    font-size: var(--text-14);

    @media (width < 48rem) {
      display: none;
    }
  }
}

/* ----------------------------------
 * Main
 * ----------------------------------
 */

.main-wrapper {
  display: grid;
  overflow-x: hidden;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.main {
  padding: var(--spacing-m);
  transition: var(--transition-duration);
  transition-property: translate, opacity;
  will-change: translate, opacity;
  background-color: var(--surface);

  @media (width >= 48rem) {
    margin-left: var(--sidebar-width, 300px);
  }
}

@media (width < 48rem) {
  [data-state="opened"] .main {
    translate: var(--sidebar-width, 300px) 0;
    opacity: 30%;
  }

  [data-state="closed"] .main {
    translate: 0;
    opacity: 100%;
  }
}

.component-wrapper {
  display: grid;
  grid-template-areas:
    "base"
    "info";
  gap: var(--spacing-m);

  @media (width >= 64rem) {
    grid-template-areas: "base info";
    grid-template-columns: 1fr 1fr;
    align-content: start;
    align-items: start;
  }

  & > .component-base {
    grid-area: base;
  }

  & > .component-info {
    grid-area: info;
  }
}

/* ----------------------------------
 * Sidebar
 * ----------------------------------
 */
.sidebar {
  width: var(--sidebar-width, 300px);
  padding: var(--spacing-m);
  border-right: 1px solid var(--layer-2);

  & ul {
    padding-block: var(--spacing-s) var(--spacing-l);
  }

  & .nav-item {
    display: block;
    padding: var(--spacing-12) var(--spacing-16);
    transition: background-color var(--transition-duration);
    border-radius: var(--radius-full);
    color: var(--on-surface);
    font-size: var(--text-16);
    text-decoration: none;

    &:hover,
    &:focus-visible {
      background-color: var(--layer-1);
    }

    &[aria-current="page"] {
      background-color: var(--layer-1);
      color: var(--accent);
      font-weight: var(--font-weight-semibold);
    }
  }
}

.list-components {
  @media (width < 9948rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* ----------------------------------
 * Burger
 * ----------------------------------
 */
.burger-button {
  border: none;
  background: none;
  box-shadow: none;

  @media (width >= 48rem) {
    display: none;
  }
}

.burger-icon {
  width: 1.8rem;
  height: 1.8rem; /* taille du SVG */
  fill: var(--on-surface); /* couleur du SVG */
}

/* État d'origine */
rect {
  x: 0; /* coordonnée x */
  rx: 1px; /* arrondi */
  width: 10px; /* largeur */
  height: 1.5px; /* épaisseur */
  transform-origin: center;
  transition:
    y 0.3s 0.3s,
    opacity 0.3s,
    rotate 0.3s; /* transition au retour */
}

.rect-1 {
  y: 0; /* coordonnée y */
}

.rect-2 {
  y: 4px; /* coordonnée y */
}

.rect-3 {
  y: 8px; /* coordonnée y */
}

/* État au clic (translation + opacity + rotation) */
[aria-expanded="true"] rect {
  transition:
    y 0.3s,
    opacity 0.3s,
    rotate 0.3s 0.3s cubic-bezier(0.55, -0.65, 0, 2.32); /* transition à l'aller */
}

[aria-expanded="true"] .rect-1 {
  y: 4px;
  rotate: 45deg;
}

[aria-expanded="true"] .rect-2 {
  opacity: 0%;
}

[aria-expanded="true"] .rect-3 {
  y: 4px;
  rotate: -45deg;
}

/* ----------------------------------
 * Content
 * ----------------------------------
 */
.component-preview {
  padding: var(--spacing-m) var(--spacing-s) var(--spacing-l);
  border-radius: var(--radius-24);
  background-color: var(--layer-1);
}

.component-code {
  translate: 0 -1.8rem;
}

.component-actions {
  display: flex;
  justify-content: end;
}

.component-code-source {
  position: relative;
  margin-top: var(--spacing-s);
  padding: var(--spacing-s);
  border: 1px solid var(--layer-2);
  border-radius: var(--radius-24);
}

.component-code-source .js-copy-code {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
  padding: var(--spacing-8) var(--spacing-8);
  border-radius: var(--radius-8);
  font-size: var(--text-14);
}

syntax-highlight {
  white-space: pre-wrap !important;
}

.download-block {
  margin-block: var(--spacing-l);
}

/* ----------------------------------
 * Footer
 * ----------------------------------
 */

.footer {
  padding-top: var(--spacing-16);
  border-top: 1px solid var(--layer-2);
}

.logo-alsacreations-pepins-inner {
  fill: var(--surface);
}

.footer-alsa {
  padding-block: var(--spacing-m);
  text-align: center;

  & p {
    margin: 0;
  }

  & .logo-alsacreations {
    width: 150px;
  }
}

.logo-link {
  display: inline-block;
  margin: auto;
  color: var(--accent);

  @media (width >= 48rem) {
    &:focus,
    &:hover {
      animation: spaceboots 2s linear infinite alternate;
    }
  }
}

@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px) rotate(1deg);
  }

  30% {
    transform: translateY(2px) rotate(0);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.demo-preview {
  max-width: 60rem;
}

.demo,
.demo-controls {
  padding: var(--spacing-m);
  border-radius: var(--radius-24);
  background-color: var(--layer-1);
}

.code-highlight {
  display: block;
  padding: var(--spacing-s);
  border-radius: var(--radius-16);
  font-size: var(--text-14);
}
