/* ----------------------------------
 * Polices
 * ----------------------------------
 */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  /* stylelint-disable */
  src:
    url("/fonts/Poppins-Variable-opti.woff2") format("woff2") tech("variations"),
    url("/fonts/Poppins-Variable-opti.woff2") format("woff2-variations");
  /* stylelint-enable */
}

/* ----------------------------------
 * Base
 * ----------------------------------
 */

body {
  max-width: 80rem; /* 1280px */
  margin-inline: auto;
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: var(--font-poppins);
  font-size: var(--text-m);
  font-weight: var(--font-weight-regular);
}

/* Couleur de sélection */
*::selection {
  background: var(--selection);
}

/* ----------------------------------
 * Layouts adaptations
 * ----------------------------------
 */

.cluster {
  --cluster-gap: var(--spacing-8);
}

.stack {
  --stack-gap: var(--spacing-8);
}
