/* ----------------------------------
 * Theme du projet (valeurs primitives)
 * ----------------------------------
 */

/* Breakpoints (si custom Media Queries) */
@custom-media --sm (width >= 48rem); /* 768px */
@custom-media --until-sm (width < 48rem); /* 768px */
@custom-media --lg (width >= 64rem); /* 1024px */

:root {
  /* Breakpoints (en dur) */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */

  /* Espacements */
  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-128: 8rem;
  --spacing-160: 10rem;
  --spacing-224: 14rem;

  /* Typographie */
  --font-base: system-ui, sans-serif;
  --font-poppins: poppins, sans-serif;
  --font-mono: ui-monospace, monospace;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;
  --text-48: 3rem;
  --text-60: 3.75rem;
  --text-80: 5rem;
  --leading-20: 1.25rem;
  --leading-24: 1.5rem;
  --leading-28: 1.75rem;
  --leading-32: 2rem;
  --leading-36: 2.25rem;
  --leading-40: 2.5rem;
  --leading-48: 3rem;
  --leading-56: 3.5rem;
  --leading-80: 5rem;
  --leading-100: 6.25rem;

  /* Border radius */
  --radius-none: 0;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-full: 9999px;

  /* Divers */
  --transition-duration: 0.25s;
  --z-under-page-level: -1;
  --z-above-page-level: 1;
  --z-header-level: 1000;
  --z-above-header-level: 2000;
  --z-above-all-level: 3000;

  /* Couleurs (globales) */
  --color-gray-50: oklch(97% 0 0);
  --color-gray-100: oklch(92.2% 0 0);
  --color-gray-200: oklch(87% 0 0);
  --color-gray-300: oklch(70.8% 0 0);
  --color-gray-400: oklch(55.6% 0 0);
  --color-gray-500: oklch(43.9% 0 0);
  --color-gray-600: oklch(37.1% 0 0);
  --color-gray-700: oklch(26.9% 0 0);
  --color-gray-800: oklch(20.5% 0 0);
  --color-gray-900: oklch(14.5% 0 0);
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-red-300: oklch(70.54% 0.19 27.52);
  --color-red-500: oklch(50.54% 0.19 27.52);
  --color-green-300: oklch(71.66% 0.13 150.73);
  --color-green-500: oklch(51.66% 0.13 150.73);
  --color-orange-300: oklch(83.15% 0.17 49.95);
  --color-orange-500: oklch(63.15% 0.17 49.95);
  --color-blue-300: oklch(71.33% 0.18 256.37);
  --color-blue-500: oklch(51.33% 0.18 256.37);


/* ----------------------------------
 * Design tokens
 * Made par Alsacréations
 * Nécessite les variables CSS primaires (theme.css)
 * ----------------------------------
 */

  /* Color Tokens */
  color-scheme: light;

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  --primary: var(--color-blue-500);
  --on-primary: var(--color-white);
  --surface: light-dark(var(--color-white), var(--color-gray-900));
  --on-surface: light-dark(var(--color-gray-900), var(--color-gray-100));
  --layer-1: light-dark(var(--color-gray-50), var(--color-gray-800));
  --layer-2: light-dark(var(--color-gray-100), var(--color-gray-700));
  --layer-3: light-dark(var(--color-gray-200), var(--color-gray-600));
  --link: light-dark(var(--color-green-500), var(--color-orange-300));
  --link-hover: light-dark(var(--color-green-500), var(--color-orange-300));
  --selection: light-dark(var(--color-blue-300), var(--color-blue-500));
  --accent: light-dark(var(--primary), var(--color-blue-300));
  --accent-invert: light-dark(var(--color-blue-300), var(--primary));
  --warning: light-dark(var(--color-orange-500), var(--color-orange-300));
  --error: light-dark(var(--color-red-500), var(--color-red-300));
  --success: light-dark(var(--color-green-500), var(--color-green-300));

  /* Typo Tokens */
  --text-m: clamp(var(--text-16), 0.9565rem + 0.2174vw, var(--text-18));
  --text-l: clamp(var(--text-18), 1.0761rem + 0.2174vw, var(--text-20));
  --text-xl: clamp(var(--text-20), 1.0054rem + 1.087vw, var(--text-30));
  --text-2xl: clamp(var(--text-24), 1.2065rem + 1.3043vw, var(--text-36));
  --text-3xl: clamp(var(--text-30), 1.4348rem + 1.9565vw, var(--text-48));

  /* Spacing Tokens */
  --gap-s: clamp(var(--spacing-8), 0.2955rem + 0.9091vw, var(--spacing-16));
  --gap-m: clamp(var(--spacing-16), 0.5909rem + 1.8182vw, var(--spacing-32));
  --gap-l: clamp(var(--spacing-24), 0.8864rem + 2.7273vw, var(--spacing-48));
  --gap-xl: clamp(var(--spacing-32), 0.7727rem + 5.4545vw, var(--spacing-80));
  --spacing-s: clamp(var(--spacing-8), 0.2955rem + 0.9091vw, var(--spacing-16));
  --spacing-m: clamp(
    var(--spacing-16),
    0.5909rem + 1.8182vw,
    var(--spacing-32)
  );
  --spacing-l: clamp(
    var(--spacing-24),
    0.8864rem + 2.2727vw,
    var(--spacing-48)
  );
  --spacing-xl: clamp(
    var(--spacing-32),
    0.7727rem + 5.4545vw,
    var(--spacing-80)
  );

}
