/* ---------------------/*
 * Radio native Styles
 /* ------------------ */

[type="radio"] {
  --radio-background-color: var(--form-control-background, ButtonFace);
  --radio-border-color: var(--checkables-border-color, ButtonBorder);
  --radio-border-radius: var(--radius-full);
  --radio-border-width: var(--form-control-border-width, 1px);
  --radio-thumb-color: var(--accent, Field);

  display: grid;
  width: var(--checkable-size, 1.25em);
  height: var(--checkable-size, 1.25em);
  margin: 0;
  padding: 0;
  transition-property: background, border, box-shadow, color;
  transition-duration: var(--transition-duration, 0.25s);
  border: 0;
  border-radius: var(--radio-border-radius);
  background-color: var(--radio-background-color);
  box-shadow: inset 0 0 0 var(--radio-border-width) var(--radio-border-color);
  cursor: pointer;
  appearance: none;
  place-content: center;

  &::before {
    content: "";
    width: calc(var(--checkable-size, 1.25em) / 1.8);
    height: calc(var(--checkable-size, 1.25em) / 1.8);
    transition-property: scale;
    transition-duration: var(--transition-duration, 0.25s);
    border-radius: var(--radius-full);
    background-color: var(--radio-thumb-color);
    scale: 0;
  }

  &:checked {
    &::before {
      scale: 1;
    }
  }

  &:is(:disabled, [disabled]) {
    opacity: 50%;
    cursor: not-allowed;
  }
}

.form-group:has([type="radio"]:disabled) label {
  opacity: 50%;
  cursor: not-allowed;
}
