/* ---------------------/*
 * Radio native Styles
 /* ------------------ */

:where([type="radio"]) {
  --background-color: var(--form-control-background, ButtonFace);
  --background-color-checked: oklch(
    from var(--background-color) calc(l * 0.8) c h
  );
  --border-color: var(--checkables-border-color, ButtonBorder);
  --border-color-checked: var(--border-color);
  --border-radius: var(--radius-full);
  --border-width: var(--form-control-border-width, 1px);
  --box-shadow: none;
  --text-color: var(--on-primary, ButtonText);
}

[type="radio"] {
  display: grid;
  width: var(--checkable-size, 1.25em);
  height: var(--checkable-size, 1.25em);
  margin: 0;
  padding: 0;
  transition-property: background, border, box-shadow, color;
  transition-duration: var(--transition-duration, 0.3s);
  border: 0;
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  appearance: none;
  place-content: center;

  &::before {
    content: "";
    width: calc(var(--checkable-size, 1.25em) / 2);
    height: calc(var(--checkable-size, 1.25em) / 2);
    transition-property: scale;
    transition-duration: var(--transition-duration);
    border-radius: var(--radius-full);
    background-color: var(--primary, #cccccc);
    scale: 0;
  }

  &:checked {
    background-color: var(--background-color);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color-checked);

    &::before {
      scale: 1;
    }
  }

  &:is(:disabled, [disabled]) {
    opacity: 50%;
    cursor: not-allowed;
  }
}

.form-group:has([type="radio"]:disabled) label {
  opacity: 50%;
  cursor: not-allowed;
}
